# Ignore the following files
# --------------------------
# Unity3D specific
#
**/Library/*
**/Assets/*
**/Temp/*
**/*.csproj
**/*.unityproj
**/*.sln
**/*.userprefs
**/*.pidb

# include meta files
!*.*.meta
!Assets/VRBIAssets
Assets/VRBIAssets/Scenes/gym.unity